@import "~leaflet/dist/leaflet.css";

#Map {
  .leaflet-container {
    height: calc(100vh - 295px);
    margin-top: $spacing-small;
    border-radius: 10px;
    max-width: 950px;
    margin: $spacing-small auto 0;
    .leaflet-control-attribution.leaflet-control {
      display: none;
    }
    .leaflet-popup-content-wrapper,
    .leaflet-popup-tip {
      background: $lightBlueColor;
      color: $darkBlueColor;
      font-weight: bold;
    }
    .leaflet-popup-close-button {
      span {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}

@media (min-width: 1200px) {
  #Map {
    .leaflet-container {
      height: calc(100vh - 365px);
      margin-top: $spacing-medium;
    }
  }
}
