#Location {
  min-height: calc(100vh - 70px);
  margin-top: 70px;
  color: $whiteColor;
  text-align: center;
  padding: $spacing-medium;
  h1 {
    svg {
      margin-right: $spacing-xsmall;
      font-size: 30px;
    }
    .package-code {
      font-size: 14px;
      margin-left: $spacing-xsmall;
      color: $yellowColor;
    }
  }
  .info-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: $spacing-small;
    h3 {
      color: $lightBlueColor;
      margin-right: $spacing-small;
      svg {
        margin-right: $spacing-xsmall;
      }
    }
  }
  .primary-btn {
    max-width: 305px;
    margin: $spacing-medium auto 0;
    svg {
      margin-right: $spacing-xsmall;
      font-size: 20px;
    }
  }
}

@media (min-width: 1200px) {
  #Location {
    margin-top: 80px;
    min-height: calc(100vh - 80px);
    padding: $spacing-medium $spacing-xlarge;
    h1 {
      svg {
        font-size: 45px;
        margin-right: $spacing-small;
      }
      .package-code {
        font-size: 16px;
        margin-left: $spacing-xsmall;
      }
    }
    .info-content {
      label {
        font-size: 20px;
      }
    }
    .primary-btn {
      max-width: 950px;
      margin: $spacing-large auto 0;
    }
  }
}
