@import "react-accessible-accordion/dist/fancy-example.css";

#Listing {
  background-color: $blueColor;
  min-height: calc(100vh - 60px);
  padding: $spacing-medium;
  h1 {
    color: $whiteColor;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $spacing-medium;
    svg {
      font-size: 30px;
      margin-right: $spacing-xsmall;
    }
  }
  .accordion {
    border: 0;
    .accordion__item {
      margin-bottom: $spacing-small;
      background-color: $darkBlueColor;
      border-radius: 20px;
      padding: 0 $spacing-medium;
      .accordion__heading {
        height: 80px;
        display: flex;
        align-items: center;
        h2 {
          svg {
            margin-right: $spacing-xsmall;
          }
          span {
            font-size: 16px;
            position: absolute;
            top: $spacing-xsmall;
            margin-left: $spacing-xsmall;
          }
        }
        .accordion__button {
          background-color: transparent;
          color: #444;
          cursor: pointer;
          padding: 0;
          width: 100%;
          text-align: left;
          border: none;
          color: $yellowColor;
          position: relative;
          &:before {
            position: absolute;
            right: 0;
            top: 8px;
            border-left: 2px solid currentColor;
            border-right: 0;
          }
          &[aria-expanded="true"]::before {
            transform: rotate(135deg);
            top: $spacing-small;
          }
        }
      }
      .accordion__panel {
        padding-top: 0;
        color: $whiteColor;
      }
    }
  }
}

@media (max-width: 400px) {
  #Listing {
    .accordion {
      .accordion__item {
        .accordion__heading {
          .accordion__button {
            h2 {
              font-size: 18px;
              span {
                top: 2px;
              }
            }
            &:before {
              top: 4px;
            }
            &[aria-expanded="true"]::before {
              top: 11px;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 860px) {
  #Listing {
    min-height: calc(100vh - 80px);
    padding: $spacing-xlarge $spacing-large;
    h1 {
      justify-content: left;
      margin-bottom: $spacing-xlarge;
      svg {
        font-size: 40px;
      }
    }
    .accordion {
      .accordion__item {
        padding: 0 $spacing-large;
        .accordion__heading {
          height: 120px;
          .accordion__button {
            &:before {
              height: 20px;
              width: 20px;
              border-left: 4px solid currentColor;
              border-bottom: 4px solid currentColor;
              top: $spacing-small;
            }
            &[aria-expanded="true"]::before {
              top: $spacing-medium;
            }
            h2 {
              svg {
                margin-right: $spacing-small;
              }
              span {
                font-size: 20px;
                top: 18px;
                margin-left: $spacing-small;
              }
            }
          }
        }
      }
    }
  }
}
