#Welcome {
  min-height: calc(100vh - 70px);
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $spacing-medium;
  background: linear-gradient(rgba(26, 42, 82, 0.6), rgba(26, 42, 82, 0.6)),
    url("../../assets/images/main-bg.jpg") center no-repeat;
  background-size: cover;
  h1 {
    color: $lightBlueColor;
    text-align: center;
    max-width: 305px;
    margin: 0 auto $spacing-large;
  }
  span {
    font-size: 20px;
    color: $whiteColor;
    font-weight: bold;
    max-width: 305px;
    margin-bottom: $spacing-xlarge;
    text-align: center;
  }
  a.primary-btn {
    max-width: 305px;
    position: absolute;
    bottom: $spacing-large;
  }
}

@media (min-width: 1200px) {
  #Welcome {
    min-height: calc(100vh - 80px);
    margin-top: 80px;
    picture img {
      max-height: calc(100vh - 355px);
      margin-bottom: $spacing-large;
      max-width: 950px;
    }
    span {
      font-size: 30px;
      max-width: 530px;
    }
    h1,
    a.primary-btn {
      max-width: 850px;
    }
  }
}
