// Main Colors
$blueColor: #273b69;
$darkBlueColor: #1a2a52;
$lightBlueColor: #c5feed;
$whiteColor: #fff;
$yellowColor: #ffb95e;

//Main spacing styles
$spacing-xsmall: 8px;
$spacing-small: 16px;
$spacing-medium: 24px;
$spacing-large: 32px;
$spacing-xlarge: 46px;
